/*
 ## Colors

- Red: hsl(14, 86%, 42%)
- Green: hsl(159, 69%, 38%)

- Rose 50: hsl(20, 50%, 98%)
- Rose 100: hsl(13, 31%, 94%)
- Rose 300: hsl(14, 25%, 72%)
- Rose 400: hsl(7, 20%, 60%)
- Rose 500: hsl(12, 20%, 44%)
- Rose 900: hsl(14, 65%, 9%)

- Font size (product names): 16px

### Font

- Family: [Red Hat Text](https://fonts.google.com/specimen/Red+Hat+Text)
- Weights: 400, 600, 700 
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
  margin:0;
  padding:0; 
  box-sizing: border-box; 
}
body{
  width: 100vw;
  height:100vh;
  background-color:#fff ;
  color:black;
  font-family:"Poppins",sans-serif;

}

/* main container with all divs*/
.container{
    display: grid;
    grid-template-columns:65vw 30vw ;
    grid-column-gap:1.5em ;


}
/*container with  dessert heading and items container*/
.dessert{
   display: grid;
   grid-template-rows:5vh 85vh ;
  place-items:center ;
   border-style: dashed;
   
}
/*container with all 9 items*/
.items{
    display: grid;
    grid-template-columns:20vw 20vw 20vw ;
border-style: dotted;
}

/*container with the ordercontainer*/
.orderInfo{
  background-color: beige;
  border:1px solid black;
  border-radius:10px ;
}

